<ion-content>
  <div class="row h-100 align-items-center justify-content-center">
    <div class="col-10 col-sm-9 col-md-6 col-lg-4">

      <h3 class="text-decoration-underline mb-4">SIGNUP</h3>

      <form [formGroup]="signupForm" (ngSubmit)="signup()">

        <ion-input
          type="name"
          fill="clear"
          label="Name"
          labelPlacement="floating"
          helperText="Enter your name"
          errorText="Invalid name"
          formControlName="name"
        ></ion-input>

        <ion-input
          type="email"
          fill="clear"
          label="Email"
          labelPlacement="floating"
          helperText="Enter a valid email"
          [errorText]="'Invalid email' "
          formControlName="email"ß
        ></ion-input>

        <ion-input
          type="password"
          fill="clear"
          label="Password"
          labelPlacement="floating"
          helperText="Enter a valid password"
          errorText="Invalid password"
          formControlName="password"
        ></ion-input>

        <ion-input
          type="password"
          fill="clear"
          label="Password"
          labelPlacement="floating"
          helperText="Enter a valid password"
          errorText="Invalid password"
          formControlName="password_confirmation"
        ></ion-input>

        <ion-button fill="solid" expand="full" class="mt-3" type="submit" [disabled]="signupForm.invalid">Signup</ion-button>

      </form>

      {{ errors.email }}
      <br>
      {{ errors.name }}
      <br>
      {{ errors.password }}

      <ion-text class="d-block text-center alert rounded p-2 mt-3" [class]="success ? 'alert-success' : 'alert-danger'" *ngIf="message != null">{{message}}</ion-text>

      <div class="row mt-3 g-0">
        <div class="col"><ion-button fill="outline" expand="block" size="small" [routerLink]="['/auth/login']">Login</ion-button></div>
      </div>


    </div>
  </div>
</ion-content>